node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
.github/workflows/playwright.yml
.DS_Store
tests/amazonAuth.json
tests/amazon-diagnostics.spec.ts
Amazon scraped.csv
Amazon original.csv
csv-files/
tests/reddit-auth.spec.ts
tests/reddit-scraper-retry.spec.ts
/tests/csv files before automation
tests/reddit_comments_progress.csv
tests/redditAuth.json
tests/reddit_comments_progress_hydrochlorothiazide.csv
tests/reddit_comments_final_flomax.csv
tests/reddit_comments_final_chanca.csv
tests/reddit_comments_final_allopurinol.csv
*.csv
